body {
  background-color: #4c90f5;
}

.container {
  min-height: 100vh;
  background-color: #4c90f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-card {
  width: 30rem;
}
.question-footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}
.quiz-answer-card:hover {
  cursor: pointer;
  background-color: #d3e3fd;
}
.bg-success {
  background-color: #28a745 !important;
  color: white;
}
.bg-danger {
  background-color: #dc3545 !important;
  color: white;
}
.width-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.final-scene {
  font-size: 32px;
  margin-bottom: 24px;
}
